body {
  font-family: "Poppins", sans-serif;
  color: #444444;
}

a {
  color: #0bb5d6;
  text-decoration: none;
}

a:hover {
  color: #e76668;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #0bb5d6;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #116779;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
}

#header.header-scrolled {
  padding: 12px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

#header .logo a {
  color: #111111;
}

#header .logo a span {
  color: #0bb5d6;
}

#header .logo img {
  max-height: 40px;
}

/*--------------------------------------------------------------
# Get Startet Button
--------------------------------------------------------------*/
.get-started-btn {
  margin-left: 30px;
  background: #0bb5d6;
  color: #fff;
  border-radius: 4px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
}

.get-started-btn:hover {
  background: #0d687c;
  color: #fff;
}

@media (max-width: 992px) {
  .get-started-btn {
    margin: 0 15px 0 0;
    padding: 6px 18px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #111111;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #0bb5d6;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 30px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #0bb5d6;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #111111;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a {
  padding: 10px 20px;
  font-size: 15px;
  color: #111111;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #0bb5d6;
}

.navbar-mobile .getstarted {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: #0bb5d6;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero,
.bg-mine {
  background: linear-gradient(90deg, #00c4cc, #7d2ae8);
}

#hero::before,
.bg-mine::before {
  content: "";
  /* background: #0bb5d6;*/
  background-image: url("../img/pattern.png");
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.zm {
  z-index: 99;
}
#hero h1 {
  margin: 0;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.1;
  letter-spacing: 0.05rem;
  color: #fff;
}
.out {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}
.text-mine2 {
  color: #0bb5d6 !important;
}
#hero h2 {
  color: #fff;
  margin: 10px 0 0 0;
  font-size: 24px;
}

#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 4px;
  transition: 0.5s;
  margin-top: 30px;
  color: rgb(15, 74, 85);
  background: #ffffff;
  border: 2px solid #ffffff;
}
.desc {
  font-size: 1rem !important;
  line-height: 2rem;
}
#hero .btn-get-started:hover {
  background: transparent;
  border-color: #fff;
  color: white;
}
.borbot {
  display: inline-block;
  padding-bottom: 0.2rem;
  margin-bottom: 1rem !important;
  border-bottom: 2px solid #0bb5d6;
}
.start-project {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 4px;
  transition: 0.5s;
  margin-top: 30px;
  color: rgb(255, 255, 255);
  border: 2px solid #ffffff;
}
.start-project:hover {
  color: #137488;
  background-color: #ffffff !important;
  border: 2px solid #ffffff;
}
.hero-slider {
  position: relative;
}

.hero-slider .single-slider {
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-slider .single-slider::before {
  position: absolute;
  content: "";
  right: 0;
  width: 50%;
  background-image: url(../img/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0;
  height: 100%;
  top: 0;
  z-index: -1;
  border-radius: 0;
}

.hero-slider .hero-text {
  float: none;
}

.hero-slider .hero-text .small-title {
  color: #fff;
  background: #0bb5d6;
  font-size: 15px;
  padding: 5px 18px;
  display: inline-block;
  margin-bottom: 15px;
}

.hero-slider .hero-text h1 {
  color: #333;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
}

.hero-slider .hero-text h1 span {
  font-weight: 300;
}

.hero-slider .hero-text p {
  color: #666;
  font-size: 14px;
}

.hero-slider .hero-image {
  margin-top: 175px;
}
@media (max-width: 768px) {
  .out {
    -webkit-text-stroke-width: 1px;
  }
  .navbbb {
    font-size: 1rem !important;
  }
  #hero {
    text-align: center;
    padding-top: 58px;
  }
  #hero h1 {
    font-size: 28px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}

/*======================================
	Free Version	CSS
========================================*/

.free-version-banner {
  position: relative;
  background-image: linear-gradient(90deg, #00c4cc, #7d2ae8);
}
.free-version-banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/pattern.png");
}
.free-version-banner .section-title {
  margin: 0;
  padding: 0;
  text-align: left;
}

.free-version-banner .section-title span {
  margin-bottom: 15px;
  background-color: #fff;
  color: #0bb5d6 !important;
}

.free-version-banner .section-title h2 {
  padding-bottom: 20px;
  margin-bottom: 25px;
  font-weight: 700;
  line-height: 50px;
  font-size: 35px;
}

.free-version-banner .section-title h2::before {
  left: 0 !important;
  margin-left: 0 !important;
  line-height: 55px !important;
}

.free-version-banner .button {
  z-index: 5;
  float: right;
}

.free-version-banner .button .btn {
  background-color: #fff;
  color: #0bb5d6;
}

.free-version-banner .button .btn:hover {
  color: #ffffff;
  background: transparent;
  outline: 3px solid white;
}

.free-version-banner .button .btn .dir-part {
  background-color: #333;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
  position: relative;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
  position: relative;
}

.section-title h2,
.section-title h3 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: black;
}

.section-title p {
  margin-bottom: 0;
}

.section-bg {
  padding: 20px 0;
  color: rgb(0, 0, 0);
}

.section-bg:before {
  content: "";
  background: #ffffff; /* f8f9fa */
  position: absolute;
  bottom: 60px;
  top: 60px;
  left: 0;
  right: 0;
  transform: skewY(-3deg);
}
/*===========================
    06. Process CSS 
===========================*/
.process-section .process-img-wrapper {
  position: relative;
  z-index: 1;
}
.process-section .process-img-wrapper::before {
  content: "";
  position: absolute;
  left: -100px;
  bottom: -50px;
  width: 463px;
  height: 552px;
  border-radius: 10px 10px 231px 231px;
  background: linear-gradient(#f37da7 0%, #fed9b4 100%);
  opacity: 0.1;
}
.process-section .process-img-wrapper .process-img-top {
  margin-bottom: 20px;
  text-align: right;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .process-section .process-img-wrapper .process-img-top {
    text-align: center;
  }
}
.process-section .process-img-wrapper .process-img-top .img-1 {
  border-radius: 275px 275px 0 0;
}
@media (max-width: 767px) {
  .process-section .process-img-wrapper .process-img-top .img-1 {
    width: 100%;
  }
}
.process-section .process-img-wrapper .process-img-bottom {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .process-section .process-img-wrapper .process-img-bottom {
    justify-content: center;
  }
}
.process-section .process-img-wrapper .process-img-bottom .img-2 {
  border-radius: 10px;
  margin-right: 20px;
  vertical-align: top;
}
.process-section .process-img-wrapper .process-img-bottom .img-3 {
  border-radius: 0 0 250px 250px;
}
/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #2b2b2b;
  min-height: 40px;
  margin-top: 82px;
  color: #fff;
}

.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 500;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol a {
  color: #aaaaaa;
}

.breadcrumbs ol a:hover {
  color: #fff;
  transition: 0.3s;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #0bb5d6;
  content: "/";
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.clients .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #0bb5d6;
}

.clients .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #0bb5d6;
}

.clients .swiper-slide img {
  opacity: 0.5;
  transition: 0.3s;
  filter: grayscale(100);
}

.clients .swiper-slide img:hover {
  opacity: 1;
  filter: none;
}

/*===========================
    04. About CSS 
===========================*/
.about-section {
  background: #eff2f9;
  padding: 180px 0;
  position: relative;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-section {
    padding: 120px 0;
  }
}
@media (max-width: 767px) {
  .about-section {
    padding: 120px 0;
  }
}
.about-section .about-img-wrapper {
  position: absolute;
  left: 0;
  top: 50%;
  width: 46%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-section .about-img-wrapper {
    position: relative;
    top: 0;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    width: 100%;
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .about-section .about-img-wrapper {
    position: relative;
    top: 0;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    width: 100%;
    margin-bottom: 50px;
  }
}
.about-section .about-img-wrapper img {
  width: 100%;
}
.about-section .about-img-wrapper .about-experience {
  width: 300px;
  border-radius: 27px;
  background-image: linear-gradient(180deg, #00c4cc, #7d2ae8);
  border: 5px solid #eff2f9;
  padding: 40px 20px;
  position: absolute;
  right: -40px;
  bottom: 10px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-section .about-img-wrapper .about-experience {
    right: 40px;
  }
}
@media (max-width: 767px) {
  .about-section .about-img-wrapper .about-experience {
    right: 40px;
  }
}
.about-section .about-img-wrapper .about-experience h3 {
  font-size: 26px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 15px;
}
.about-section .about-img-wrapper .about-experience p {
  color: #fff;
}
.about-section .about-content-wrapper .about-content .counter-up {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .about-section .about-content-wrapper .about-content .counter-up {
    display: block;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .about-section .about-content-wrapper .about-content .counter-up {
    display: flex;
  }
}
.about-section .about-content-wrapper .about-content .counter-up .counter {
  margin-right: 10px;
}
.about-section
  .about-content-wrapper
  .about-content
  .counter-up
  .counter:last-child {
  margin-right: 0;
}
.about-section .about-content-wrapper .about-content .counter-up .counter span {
  font-size: 40px;
  font-weight: 600;
  color: #3763eb;
  display: block;
  margin-bottom: 8px;
}
.about-section .about-content-wrapper .about-content .counter-up .counter h4 {
  font-weight: 500;
  margin-bottom: 10px;
}

.time-line {
  position: relative;
}
.time-line .row {
  position: relative;
}
.time-line::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  left: 50%;
  top: 0;
  background: #f4eefb;
  z-index: -1;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .time-line::after {
    display: none;
  }
}
@media (max-width: 767px) {
  .time-line::after {
    display: none;
  }
}
.time-line .box-icon-style {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #f4eefb;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .time-line .box-icon-style {
    position: static;
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(0);
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .time-line .box-icon-style {
    position: static;
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(0);
    margin-bottom: 30px;
  }
}
.time-line .box-icon-style i {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  font-size: 20px;
  padding: 2px;
  color: #3763eb;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .time-line .single-timeline {
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .time-line .single-timeline {
    margin-bottom: 50px;
  }
}
.time-line .single-timeline:hover .box-icon-style {
  background: linear-gradient(#0bb5d6 0%, #0bb5d6 100%);
  color: #fff;
  border-color: transparent;
}
.time-line .single-timeline:hover .box-icon-style i {
  color: #fff;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .time-line .single-timeline .timeline-img {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .time-line .single-timeline .timeline-img {
    margin-bottom: 30px;
  }
}
.time-line .single-timeline .timeline-img img {
  width: 100%;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .container {
  position: relative;
  z-index: 10;
}

.about .content {
  padding: 35px 35px 35px 0px;
}

.about .content h3 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
}

.about .content p {
  margin-bottom: 30px;
}

.about .content .about-btn {
  padding: 8px 30px 9px 30px;
  color: #fff;
  border-radius: 50px;
  transition: 0.3s;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  display: inline-flex;
  align-items: center;
  border: 2px solid #0bb5d6;
  background: #0bb5d6;
}

.about .content .about-btn i {
  font-size: 16px;
  padding-left: 5px;
}

.about .content .about-btn:hover {
  background: transparent;
  color: #0bb5d6;
}

.about .icon-boxes .icon-box {
  margin-top: 30px;
}

.about .icon-boxes .icon-box i {
  font-size: 40px;
  color: #0bb5d6;
  margin-bottom: 10px;
}

.about .icon-boxes .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.about .icon-boxes .icon-box p {
  font-size: 15px;
  color: #848484;
}

@media (max-width: 1200px) {
  .about .content {
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .about {
    text-align: center;
  }
}
/*===========================
    05. Service CSS 
===========================*/
.service-section .service-box-style-2 {
  padding: 0;
  text-align: center;
}
.service-section .service-box-style-2 .service-thumbnail img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.service-section .service-box-style-2 .box-icon-style {
  margin-left: auto;
  margin-right: auto;
  width: 54px;
  height: 54px;
  border: 2px solid #fff;
  font-size: 25px;
  margin-top: -27px;
  background: #fff;
  position: relative;
  z-index: 9;
}
.service-section .service-box-style-2 .box-icon-style i {
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(#3763eb 0%, #6f58e8 100%);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.service-section .service-box-style-2:hover .box-icon-style {
  background: linear-gradient(#3763eb 0%, #6f58e8 100%);
}
.service-section .service-box-style-2:hover .box-icon-style i {
  color: #fff;
}
.service-section .service-box-style-2 .box-content-style {
  padding: 0 30px 35px;
}

.box-style {
  padding: 40px 30px;
  border: 1px solid #f4eefb;
  border-radius: 10px;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.box-style:hover {
  -webkit-box-shadow: 0px 0px 30px rgba(215, 224, 252, 0.45);
  -moz-box-shadow: 0px 0px 30px rgba(215, 224, 252, 0.45);
  box-shadow: 0px 0px 30px rgba(215, 224, 252, 0.45);
}
.box-style:hover .box-icon-style {
  color: #fff;
  border-color: transparent;
  background: linear-gradient(#e7edff 0%, #f1eeff 100%);
}
.box-style:hover .box-icon-style::after {
  opacity: 1;
  visibility: visible;
}
.box-style .box-icon-style {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  margin-bottom: 25px;
  background: #fff;
  border: 2px solid #3763eb;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3763eb;
  font-size: 40px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  position: relative;
}
.box-style .box-icon-style::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  background: linear-gradient(#3763eb 0%, #6f58e8 100%);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  z-index: -1;
  border-radius: 50%;
  border: 1px solid transparent;
}
.box-style .box-content-style h4 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  padding-top: 80px;
}

.counts .count-box {
  padding: 30px 30px 25px 30px;
  width: 100%;
  position: relative;
  text-align: center;
  box-shadow: 0px 2px 35px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

.counts .count-box i {
  position: absolute;
  width: 54px;
  height: 54px;
  top: -27px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background: #fff;
  color: #0bb5d6;
  border-radius: 50px;
  border: 2px solid #fff;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.counts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 700;
  color: #111111;
}

.counts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 6px;
  background: #f8f9fa;
  transition: 0.3s;
}

.services .icon-box:hover {
  background: #ffffff;
}

.services .icon-box i {
  float: left;
  color: #0bb5d6;
  font-size: 40px;
  line-height: 0;
}

.services .icon-box h4 {
  margin-left: 70px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .icon-box h4 a {
  color: rgb(0, 0, 0);
  transition: 0.3s;
}

.services .icon-box h4 a:hover {
  text-decoration: underline;
}

.services .icon-box .icon-box:hover h4 a {
  color: #0bb5d6;
}

.services .icon-box p {
  margin-left: 70px;
  line-height: 24px;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 15px 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: #fff;
  background: #0bb5d6;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(17, 17, 17, 0.6);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(17, 17, 17, 0.6);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap img {
  transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-style: italic;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: rgba(255, 255, 255, 0.4);
  margin: 0 5px 0 0;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #fff;
}

.portfolio .portfolio-wrap:hover::before {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover img {
  transform: scale(1.2);
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details
  .portfolio-details-slider
  .swiper-pagination
  .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #0bb5d6;
}

.portfolio-details
  .portfolio-details-slider
  .swiper-pagination
  .swiper-pagination-bullet-active {
  background-color: #0bb5d6;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(17, 17, 17, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px;
  margin: 30px 15px;
  min-height: 200px;
  position: relative;
  background: #f8f9fa;
  border-radius: 15px;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  border: 6px solid #fff;
  float: left;
  margin: 0 10px 0 0;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 25px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: #000000;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
  display: none;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 30px auto 15px auto;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #0bb5d6;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #0bb5d6;
}

/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
.blog {
  padding: 40px 0 20px 0;
}

.blog .entry {
  padding: 30px;
  margin-bottom: 60px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .entry .entry-img {
  max-height: 440px;
  margin: -30px -30px 20px -30px;
  overflow: hidden;
}

.blog .entry .entry-title {
  font-size: 28px;
  font-weight: bold;
  padding: 0;
  margin: 0 0 20px 0;
}

.blog .entry .entry-title a {
  color: #111111;
  transition: 0.3s;
}

.blog .entry .entry-title a:hover {
  color: #0bb5d6;
}

.blog .entry .entry-meta {
  margin-bottom: 15px;
  color: #777777;
}

.blog .entry .entry-meta ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.blog .entry .entry-meta ul li + li {
  padding-left: 20px;
}

.blog .entry .entry-meta i {
  font-size: 16px;
  margin-right: 8px;
  line-height: 0;
}

.blog .entry .entry-meta a {
  color: #777777;
  font-size: 14px;
  display: inline-block;
  line-height: 1;
}

.blog .entry .entry-content p {
  line-height: 24px;
}

.blog .entry .entry-content .read-more {
  -moz-text-align-last: right;
  text-align-last: right;
}

.blog .entry .entry-content .read-more a {
  display: inline-block;
  background: #0bb5d6;
  color: #fff;
  padding: 6px 20px;
  transition: 0.3s;
  font-size: 14px;
  border-radius: 4px;
}

.blog .entry .entry-content .read-more a:hover {
  background: #e35052;
}

.blog .entry .entry-content h3 {
  font-size: 22px;
  margin-top: 30px;
  font-weight: bold;
}

.blog .entry .entry-content blockquote {
  overflow: hidden;
  background-color: #fafafa;
  padding: 60px;
  position: relative;
  text-align: center;
  margin: 20px 0;
}

.blog .entry .entry-content blockquote p {
  color: #444444;
  line-height: 1.6;
  margin-bottom: 0;
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
}

.blog .entry .entry-content blockquote::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: #111111;
  margin-top: 20px;
  margin-bottom: 20px;
}

.blog .entry .entry-footer {
  padding-top: 10px;
  border-top: 1px solid #e6e6e6;
}

.blog .entry .entry-footer i {
  color: #5e5e5e;
  display: inline;
}

.blog .entry .entry-footer a {
  color: #1e1e1e;
  transition: 0.3s;
}

.blog .entry .entry-footer a:hover {
  color: #0bb5d6;
}

.blog .entry .entry-footer .cats {
  list-style: none;
  display: inline;
  padding: 0 20px 0 0;
  font-size: 14px;
}

.blog .entry .entry-footer .cats li {
  display: inline-block;
}

.blog .entry .entry-footer .tags {
  list-style: none;
  display: inline;
  padding: 0;
  font-size: 14px;
}

.blog .entry .entry-footer .tags li {
  display: inline-block;
}

.blog .entry .entry-footer .tags li + li::before {
  padding-right: 6px;
  color: #6c757d;
  content: ",";
}

.blog .entry .entry-footer .share {
  font-size: 16px;
}

.blog .entry .entry-footer .share i {
  padding-left: 5px;
}

.blog .entry-single {
  margin-bottom: 30px;
}

.blog .blog-author {
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .blog-author img {
  width: 120px;
  margin-right: 20px;
}

.blog .blog-author h4 {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 0px;
  padding: 0;
  color: #111111;
}

.blog .blog-author .social-links {
  margin: 0 10px 10px 0;
}

.blog .blog-author .social-links a {
  color: rgba(17, 17, 17, 0.5);
  margin-right: 5px;
}

.blog .blog-author p {
  font-style: italic;
  color: #b7b7b7;
}

.blog .blog-comments {
  margin-bottom: 30px;
}

.blog .blog-comments .comments-count {
  font-weight: bold;
}

.blog .blog-comments .comment {
  margin-top: 30px;
  position: relative;
}

.blog .blog-comments .comment .comment-img {
  margin-right: 14px;
}

.blog .blog-comments .comment .comment-img img {
  width: 60px;
}

.blog .blog-comments .comment h5 {
  font-size: 16px;
  margin-bottom: 2px;
}

.blog .blog-comments .comment h5 a {
  font-weight: bold;
  color: #444444;
  transition: 0.3s;
}

.blog .blog-comments .comment h5 a:hover {
  color: #0bb5d6;
}

.blog .blog-comments .comment h5 .reply {
  padding-left: 10px;
  color: #111111;
}

.blog .blog-comments .comment h5 .reply i {
  font-size: 20px;
}

.blog .blog-comments .comment time {
  display: block;
  font-size: 14px;
  color: #2b2b2b;
  margin-bottom: 5px;
}

.blog .blog-comments .comment.comment-reply {
  padding-left: 40px;
}

.blog .blog-comments .reply-form {
  margin-top: 30px;
  padding: 30px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .blog-comments .reply-form h4 {
  font-weight: bold;
  font-size: 22px;
}

.blog .blog-comments .reply-form p {
  font-size: 14px;
}

.blog .blog-comments .reply-form input {
  border-radius: 4px;
  padding: 10px 10px;
  font-size: 14px;
}

.blog .blog-comments .reply-form input:focus {
  box-shadow: none;
  border-color: #ee9293;
}

.blog .blog-comments .reply-form textarea {
  border-radius: 4px;
  padding: 10px 10px;
  font-size: 14px;
}

.blog .blog-comments .reply-form textarea:focus {
  box-shadow: none;
  border-color: #ee9293;
}

.blog .blog-comments .reply-form .form-group {
  margin-bottom: 25px;
}

.blog .blog-comments .reply-form .btn-primary {
  border-radius: 4px;
  padding: 10px 20px;
  border: 0;
  background-color: #111111;
}

.blog .blog-comments .reply-form .btn-primary:hover {
  background-color: #1e1e1e;
}

.blog .blog-pagination {
  color: #444444;
}

.blog .blog-pagination ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.blog .blog-pagination li {
  margin: 0 5px;
  transition: 0.3s;
}

.blog .blog-pagination li a {
  color: #111111;
  padding: 7px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog .blog-pagination li.active,
.blog .blog-pagination li:hover {
  background: #0bb5d6;
}

.blog .blog-pagination li.active a,
.blog .blog-pagination li:hover a {
  color: #fff;
}

.blog .sidebar {
  padding: 30px;
  margin: 0 0 60px 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .sidebar .sidebar-title {
  font-size: 20px;
  font-weight: 700;
  padding: 0 0 0 0;
  margin: 0 0 15px 0;
  color: #111111;
  position: relative;
}

.blog .sidebar .sidebar-item {
  margin-bottom: 30px;
}

.blog .sidebar .search-form form {
  background: #fff;
  border: 1px solid #ddd;
  padding: 3px 10px;
  position: relative;
}

.blog .sidebar .search-form form input[type="text"] {
  border: 0;
  padding: 4px;
  border-radius: 4px;
  width: calc(100% - 40px);
}

.blog .sidebar .search-form form button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 15px;
  margin: -1px;
  background: #0bb5d6;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  line-height: 0;
}

.blog .sidebar .search-form form button i {
  line-height: 0;
}

.blog .sidebar .search-form form button:hover {
  background: #e34c4d;
}

.blog .sidebar .categories ul {
  list-style: none;
  padding: 0;
}

.blog .sidebar .categories ul li + li {
  padding-top: 10px;
}

.blog .sidebar .categories ul a {
  color: #111111;
  transition: 0.3s;
}

.blog .sidebar .categories ul a:hover {
  color: #0bb5d6;
}

.blog .sidebar .categories ul a span {
  padding-left: 5px;
  color: #aaaaaa;
  font-size: 14px;
}

.blog .sidebar .recent-posts .post-item + .post-item {
  margin-top: 15px;
}

.blog .sidebar .recent-posts img {
  width: 80px;
  float: left;
}

.blog .sidebar .recent-posts h4 {
  font-size: 15px;
  margin-left: 95px;
  font-weight: bold;
}

.blog .sidebar .recent-posts h4 a {
  color: #111111;
  transition: 0.3s;
}

.blog .sidebar .recent-posts h4 a:hover {
  color: #0bb5d6;
}

.blog .sidebar .recent-posts time {
  display: block;
  margin-left: 95px;
  font-style: italic;
  font-size: 14px;
  color: #aaaaaa;
}

.blog .sidebar .tags {
  margin-bottom: -10px;
}

.blog .sidebar .tags ul {
  list-style: none;
  padding: 0;
}

.blog .sidebar .tags ul li {
  display: inline-block;
}

.blog .sidebar .tags ul a {
  color: #515151;
  font-size: 14px;
  padding: 6px 14px;
  margin: 0 6px 8px 0;
  border: 1px solid #c4c4c4;
  display: inline-block;
  transition: 0.3s;
}

.blog .sidebar .tags ul a:hover {
  color: #fff;
  border: 1px solid #0bb5d6;
  background: #0bb5d6;
}

.blog .sidebar .tags ul a span {
  padding-left: 5px;
  color: #aaaaaa;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #fff;
  font-size: 14px;
  background: #111111;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #1b1b1b;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 26px;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact h3 span {
  color: #0bb5d6;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top h4::after {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background: #0bb5d6;
  bottom: 0;
  left: 0;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: white;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #aaaaaa;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #fff;
}

#footer .footer-newsletter {
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 5px 10px;
  position: relative;
  border-radius: 4px;
  text-align: left;
}

#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: -1px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #0bb5d6;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: #e35052;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #2b2b2b;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #0bb5d6;
  color: #fff;
  text-decoration: none;
}
.line {
  line-height: 3rem;
}
@media screen and (min-width: 1300px) {
  .container {
    padding: 0.5rem 5rem !important;
  }
}

/*===========================
    10. Subscribe CSS 
===========================*/
.subscribe-section {
  position: relative;
}
.subscribe-section .subscribe-form {
  position: relative;
}
.subscribe-section .subscribe-form input {
  border: 2px solid transparent;
  border-radius: 50px;
  width: 100%;
  font-size: 16px;
  padding: 18px 30px;
  background: #fff;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.subscribe-section .subscribe-form input:focus {
  -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: 0 0 30px rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.15);
}
.subscribe-section .subscribe-form button {
  border-radius: 50px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  border: none;
  background: linear-gradient(
    to left,
    #3763eb 0%,
    #6f58e8 50.39%,
    #3763eb 100%
  );
  background-size: 200%;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  position: absolute;
  height: 54px;
  width: 54px;
  top: 5px;
  right: 5px;
}
.subscribe-section .subscribe-form button:hover {
  background-position: right center;
}

/*===========================
    12. Contact CSS 
===========================*/
.contact-section {
  position: relative;
  z-index: 3;
}
.contact-section.cta-bg {
  clip-path: polygon(0 0, 100% 12%, 100% 88%, 0 100%);
  z-index: 3;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .contact-section.cta-bg {
    clip-path: polygon(0 3%, 100% 12%, 100% 88%, 0 97%);
  }
}
@media (max-width: 767px) {
  .contact-section.cta-bg {
    clip-path: polygon(0 3%, 100% 12%, 100% 88%, 0 97%);
  }
}
.contact-section.cta-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: linear-gradient(90deg, #00c4cc, #00c5ccbd, #7c2ae800);
}
.contact-section .contact-item-wrapper .contact-item {
  display: flex;
  border: 1px solid #f4eefb;
  border-radius: 10px;
  background: #fff;
  margin-bottom: 30px;
  padding: 20px 30px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .contact-section .contact-item-wrapper .contact-item {
    padding: 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .contact-section .contact-item-wrapper .contact-item {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .contact-section .contact-item-wrapper .contact-item {
    flex-direction: column;
  }
}
.contact-section .contact-item-wrapper .contact-item .contact-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(#0bb5d6 0%, #0bb5d6 100%);
  color: #fff;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.contact-section .contact-item-wrapper .contact-item .contact-content {
  margin-left: 25px;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .contact-section .contact-item-wrapper .contact-item .contact-content {
    margin-left: 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .contact-section .contact-item-wrapper .contact-item .contact-content {
    margin-left: 0px;
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  .contact-section .contact-item-wrapper .contact-item .contact-content {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.contact-section .contact-item-wrapper .contact-item .contact-content h4 {
  font-size: 20px;
  color: #3763eb;
  margin-bottom: 10px;
}

.comment-form-wrapper,
.contact-form-wrapper {
  padding: 50px 40px;
  background: #fff;
  margin-left: 0px;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .comment-form-wrapper,
  .contact-form-wrapper {
    margin-left: 30px;
  }
}
.comment-form-wrapper .comment-form input,
.comment-form-wrapper .comment-form textarea,
.comment-form-wrapper .contact-form input,
.comment-form-wrapper .contact-form textarea,
.contact-form-wrapper .comment-form input,
.contact-form-wrapper .comment-form textarea,
.contact-form-wrapper .contact-form input,
.contact-form-wrapper .contact-form textarea {
  padding: 18px 25px;
  border-radius: 10px;
  background-color: #f8f9fa;
  border: 0px solid #f4eefb;
  margin-bottom: 25px;
  width: 100%;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
@media (max-width: 767px) {
  .comment-form-wrapper .comment-form input,
  .comment-form-wrapper .comment-form textarea,
  .comment-form-wrapper .contact-form input,
  .comment-form-wrapper .contact-form textarea,
  .contact-form-wrapper .comment-form input,
  .contact-form-wrapper .comment-form textarea,
  .contact-form-wrapper .contact-form input,
  .contact-form-wrapper .contact-form textarea {
    padding: 12px 25px;
  }
}
.comment-form-wrapper .comment-form input:focus,
.comment-form-wrapper .comment-form textarea:focus,
.comment-form-wrapper .contact-form input:focus,
.comment-form-wrapper .contact-form textarea:focus,
.contact-form-wrapper .comment-form input:focus,
.contact-form-wrapper .comment-form textarea:focus,
.contact-form-wrapper .contact-form input:focus,
.contact-form-wrapper .contact-form textarea:focus {
  border-color: #3763eb;
}
.comment-form-wrapper .comment-form textarea,
.comment-form-wrapper .contact-form textarea,
.contact-form-wrapper .comment-form textarea,
.contact-form-wrapper .contact-form textarea {
  border-radius: 18px;
}
.comment-form-wrapper .comment-form .theme-btn,
.comment-form-wrapper .contact-form .theme-btn,
.contact-form-wrapper .comment-form .theme-btn,
.contact-form-wrapper .contact-form .theme-btn {
  font-weight: 500;
  padding: 18px 90px;
}

/*===========================
    13. Footer CSS 
===========================*/
.footer {
  position: relative;
  z-index: 2;
  background: #ffffff;
}
.footer .footer-widget .footer-desc {
  line-height: 30px;
}
.footer .footer-widget h4 {
  margin-bottom: 35px;
  font-weight: 500;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .footer .footer-widget h4 {
    font-size: 22px;
  }
}
.footer .footer-widget ul.footer-links li a {
  color: #6a7c92;
  display: block;
  line-height: 35px;
  transition: all 0.3s;
}
.footer .footer-widget ul.footer-links li a:hover {
  color: #3763eb;
}
.footer .footer-widget ul {
  padding-left: 20px;
}
.footer .footer-widget ul li {
  list-style: disc;
}
.footer .footer-widget .footer-contact li p {
  line-height: 35px;
}
.footer .copyright-area {
  padding: 25px 0;
  font-size: 16px;
  position: relative;
  z-index: 2;
}
.footer .copyright-area p {
  text-align: right;
}
@media (max-width: 767px) {
  .footer .copyright-area p {
    font-size: 14px;
    text-align: center;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .footer .copyright-area p {
    font-size: 15px;
  }
}
.footer .copyright-area p a {
  color: #6a7c92;
}
.footer .copyright-area p a:hover {
  color: #3763eb;
}

@media (max-width: 767px) {
  .footer-social-links {
    margin-bottom: 15px;
  }
}

.footer-social-links ul {
  justify-content: flex-start;
}
@media (max-width: 767px) {
  .footer-social-links ul {
    justify-content: center;
  }
}
.footer-social-links ul li {
  display: inline-block;
}
.footer-social-links ul li a {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
  line-height: 45px;
  background: rgba(106, 124, 146, 0.1);
  display: block;
  font-size: 18px;
  color: #6a7c92;
  margin-right: 15px;
}
@media (max-width: 767px) {
  .footer-social-links ul li a {
    padding: 0 7px;
    margin-right: 10px;
  }
}
.footer-social-links ul li a:hover {
  background: linear-gradient(#0bb5d6 0%, #d5f8ff 100%);
  color: #fff;
}

:focus-visible {
  outline: none !important;
}

.py-mine {
  padding: 5rem 0rem;
}

.doo {
  border: 3px solid rgb(236, 232, 232);
  border-style: dashed;
  border-radius: 10px;
}
